{% extends "planner/layout.html" %}

{% block subtitle %}My Planner | {% endblock %}

{% block content %}

<main id="landing-page">

  <section class="home-header">
    <h1 class="home-header__title">Allay</h1>
    <h3 class="home-header__subtitle">Your Guide to the Abortion Process</h3>
    <button class="home-header__get-started js-get-started">Get Started</button>
  </section>

  <section class="home-summary">
    <div class="row">
      <div class="small-12 medium-6 columns">
        <h5 class="home-summary__text">Allay is your visualized map of your abortion path, offering trustworthy information for every step along the way. </h4>
      </div>
    </div>
  </section>

</main>

<script>

$(document).ready(function() {
  $('.js-get-started').click("")

});

</script>

{% endblock %}
