{% extends "planner/layout.html" %}

{% block subtitle %}My Timeline | {% endblock %}

{% block content %}

<main id="timeline-tx" class="timeline">

  <section class="timeline-summary row">
    <div class="small-12 columns">
      <div class="timeline-header__tile tile">
        <div class="timeline-header__tile-header">
          <h1 class="timeline-header__title title">Your Plan</h1>
          <span class="timeline-header__tile-edit"><a>Edit</a>
        </div>
        <div class="timeline-header__tile-dob"><b>Birthdate:</b> 1/3/99</div>
        <div class="timeline-header__tile-zip"><b>Zipcode: 77172</b></div>
        <div class="timeline-header__tile-type">Pill Procedure</div>
        <div class="timeline-header__tile-weeks"><b>Status:</b> 6 weeks</div>
        <div class="timeline-header__tile-clinic">Women's Center of Houston</div>
        <div class="timeline-header__tile-address"> 8200 Wednesbury Ln, Houston, TX 77074</div>
      </div>
    </div>
  </section>

  <section class="timeline-header row">
    <div class="small-12 columns">
      <h1 class="timeline-header__title">Your Road Ahead</h1>
      <h6 class="timeline-header__subtitle">Based on your answers, here's what you can expect.</h6>
    </div>
  </section>

  <section class="timeline-tabs row">
    <div class="timeline-tabs__wrap small-12 columns">
      <span class="timeline-tabs__dot dot js-before">Before</span>
      <span class="timeline-tabs__dot dot js-during">During</span>
      <span class="timeline-tabs__dot dot js-after">After</span>
    </div>
  </section>

  <section class="timeline-line row">
    <div class="timeline-line__background small-12 columns">
      <div class="timeline-line__background-left"></div>
      <div class="timeline-line__background-right"></div>
    </div>

    <div class="timeline-line__row-header is-left small-12 columns">
      <div class="timeline-line__before-header">Before</div>
    </div>

    <div class="timeline-line__row is-right small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Clinic</h4>
        <p class="timeline-line__row-subtitle">March 6, 2017</p>
        <p class="timeline-line__row-body">Select a clinic nearby.</p>
      </div>
    </div>

    <div class="timeline-line__row is-left small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Support Network</h4>
        <p class="timeline-line__row-subtitle">March 7, 2017</p>
        <p class="timeline-line__row-body">Ask for support from a trusted friend or family member.</p>
      </div>
    </div>

    <div class="timeline-line__row is-right small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Appointment</h4>
        <p class="timeline-line__row-subtitle">March 8, 2017</p>
        <p class="timeline-line__row-body">Schedule an appointment with the clinic.</p>
      </div>
    </div>

    <div class="timeline-line__row is-left small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Secure Funding</h4>
        <p class="timeline-line__row-subtitle">March 9, 2017</p>
        <p class="timeline-line__row-body">Cash strapped? Find out ways to fund your abortion.</p>
      </div>
    </div>

    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>

    <div class="timeline-line__row is-right small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Travel</h4>
        <p class="timeline-line__row-subtitle">March 16, 2017</p>
        <p class="timeline-line__row-body">Arrange travel and accomodations to the clinic.</p>
      </div>
    </div>

    <div class="timeline-line__row is-left small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Consultation</h4>
        <p class="timeline-line__row-subtitle">March 17, 2017</p>
        <p class="timeline-line__row-body">Today's the first step.</p>
      </div>
    </div>

    <div class="timeline-line__row is-right small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Night Before Procedure</h4>
        <p class="timeline-line__row-subtitle">March 17, 2017</p>
        <p class="timeline-line__row-body">Rest easy.</p>
      </div>
    </div>

    <div class="timeline-line__row-header is-left small-12 columns">
      <div class="timeline-line__during-header">During</div>
    </div>

    <div class="timeline-line__row is-right small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Procedure #1</h4>
        <p class="timeline-line__row-subtitle">March 18, 2017</p>
        <p class="timeline-line__row-body">Today you'll receive your first pill. Everything is going to be ok.</p>
      </div>
    </div>

    <div class="timeline-line__row is-left small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Procedure #2</h4>
        <p class="timeline-line__row-subtitle">March 19, 2017</p>
        <p class="timeline-line__row-body">Today you'll receive your first pill. Everything is going to be ok.</p>
      </div>
    </div>

    <div class="timeline-line__row-header is-right small-12 columns">
      <div class="timeline-line__after-header">After</div>
    </div>

    <div class="timeline-line__row is-left small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Travel</h4>
        <p class="timeline-line__row-subtitle">March 20, 2017</p>
        <p class="timeline-line__row-body">Head back to a safe, comfy place. Take it very easy.</p>
      </div>
    </div>

    <div class="timeline-line__row is-right small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Support Network</h4>
        <p class="timeline-line__row-subtitle">March 21, 2017</p>
        <p class="timeline-line__row-body">Don't keep it bottled up. Talk to a family or friend if you need.</p>
      </div>
    </div>

    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>
    <div class="timeline-line__row small-12 columns"></div>

    <div class="timeline-line__row is-left small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Travel</h4>
        <p class="timeline-line__row-subtitle">April 4, 2017</p>
        <p class="timeline-line__row-body">Head back to the clinic area for your follow up.</p>
      </div>
    </div>

    <div class="timeline-line__row is-right small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Follow Up Appointment</h4>
        <p class="timeline-line__row-subtitle">April 5, 2017</p>
        <p class="timeline-line__row-body">Visit your doctor to ensure you're on the road to recovery.</p>
      </div>
    </div>

    <div class="timeline-line__row is-left small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Travel</h4>
        <p class="timeline-line__row-subtitle">April 6, 2017</p>
        <p class="timeline-line__row-body">Time to head home again.</p>
      </div>
    </div>

    <div class="timeline-line__row is-right small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Aftercare</h4>
        <p class="timeline-line__row-subtitle">April 7, 2017</p>
        <p class="timeline-line__row-body">Take care of yourself.</p>
      </div>
    </div>

    <div class="timeline-line__row is-left small-12 columns">
      <div class="timeline-line__row-block">
        <h4 class="timeline-line__row-title">Counseling</h4>
        <p class="timeline-line__row-subtitle">April 8, 2017</p>
        <p class="timeline-line__row-body">Feeling off? Talking it out with a professional can help.</p>
      </div>
    </div>


  </section>

</main>

<script>

$(document).ready(function() {
  $('.main-nav__logo').addClass("is-visible");
  
  $(".js-before").click(function(){
      // var targetPos = $("#pro-annual-button").offset().top - 440;
      $('html, body').animate({scrollTop: 620 }, 1000);
  });

  $(".js-during").click(function(){
      // var targetPos = $("#pro-annual-button").offset().top - 440;
      $('html, body').animate({scrollTop: 1400 }, 1000);
  });

  $(".js-after").click(function(){
      // var targetPos = $("#pro-annual-button").offset().top - 440;
      $('html, body').animate({scrollTop: 2300 }, 1000);
  });


});

</script>

{% endblock %}
