{% extends "planner/layout.html" %}

{% block subtitle %}My Planner | {% endblock %}

{% block content %}

<main id="landing-page">

  <section class="home-header">
    <h1 class="home-header__title">Allay</h1>
    <h3 class="home-header__subtitle">Your way to choice</h3>
    <button class="home-header__get-started large js-get-started">Get Started</button>
  </section>

  <section class="home-summary">
    <div class="row">
      <div class="small-12 medium-6 columns">
        <h5 class="home-summary__text">Allay is your visualized timeline of your abortion path, offering a comprehensive guide to your road ahead. </h4>
      </div>
    </div>
  </section>

  <section class="home-image"></section>

</main>

<script>

$(document).ready(function() {
  $('.js-get-started').click(function(e){
    e.preventDefault();

    document.location = "/intake";

  });

  $(window).scroll(function(e){
    var scroll_Top = $(this).scrollTop();
    if (scroll_Top > 100) {
      $('.main-nav__logo').addClass("is-visible");
    } else {
      $('.main-nav__logo').removeClass("is-visible");
    }
  });

});

</script>

{% endblock %}
