$purple: #000059;
$pink: #ffcccc;
$whitish: #fffffa;


$dependable: #5CCAC1;
$youll: #E3FBED;
$stripped: #D8D69D;
$deep-sea: #00216B;
$drab: #67687D;


$background-color: $whitish;
$primary-text: #000;

/* Color Palette for the CBE Survey */

// $background-color: #FFF;
// $primary-text: #505050;

$white: #fff;
$almost-white: #fefefe;
$lightest-gray: #F9F9F9;
$very-light-gray: #f0f0f0;
$light-gray: #E8E8E8;
$dolphin-gray: #CECECE;
$neutral-gray: #c4c4c4;
$medium-gray: #C7C7C7;
$dark-gray: #969696;
$slate-gray: #757575;
$extra-dark-gray: #303030;

$yellow: #EBB444;
$orange: #e28100;
$red: #b24445;
$green: #587022;

$light-blue: #D3DCE1;
$medium-blue: #A1B6C1;
$sharp-blue: #184694;
$dark-blue: #4F758B;
$darker-blue: #235B7A;
$midnight-blue: #153D54;
$dashboard-blue: #1c4e9e;

$error: $red;
$success: $sharp-blue;
$warning: $medium-blue;

$border: 1px solid rgba(0,0,0,.2);
$light-border: 1px solid rgba(0,0,0,.05);
