/* Fonts and Text */

// $font-primary: 'Mallanna','Dosis','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-primary: 'Roboto','Open Sans','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-secondary: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;


$font-weight-xbold: 700;
$font-weight-bold: 700;
$font-weight-ltbold: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

$text-shadow: 1px 2px 3px rgba(0,0,0,.05);
