html, body {
    font-family: $font-primary !important;
    background-color: $background-color !important;
    color: $primary-text !important;
    font-weight: $font-weight-normal;
    font-size: 16px;
    letter-spacing: .2px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tile {
  display: block;
  cursor: default;
  border: 2px solid #dependable;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  margin: 0 2%;
  text-align: center;
}

button {
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  vertical-align: initial;
  width: initial;
  margin: 0;
  outline: 0;
  opacity: inherit;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
  transition: background 120ms linear;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 14px;
  min-width: 100px;
}

a {
  color: $dependable;

  &:hover {
    color: $deep-sea;
  }
}

title {
  text-align: center;
}
