//////////////////////////////////////// Global

.timeline {
  h1, h2 {
    text-align: center;
  }
  h1 {
    margin-top: 1em;
  }
  h2 {
    margin-bottom: .9em;
  }
  h3{
    margin-bottom: .7em;
  }
}

//////////////////////////////////////// Summary

.timeline-summary {
  padding: 40px 10px;
}

//////////////////////////////////////// Header

.timeline-header {
  padding-bottom: 35px;
}

.timeline-header__tile {
  div {
    width: 100%;
    text-align: left;
  }
}

.timeline-header__tile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.9em;

  .timeline-header__title,
  .timeline-header__edit {
    display: inline-block;
  }

  .timeline-header__title {
    text-align: left;
    margin: 0;
  }

  .timeline-header__title {
    text-align: right;
  }
}

.timeline-header__tile-weeks{
  margin-bottom: 12px;
}
.timeline-header__tile-type{
  margin-bottom: 12px;
}

.timeline-header__subtitle {
  text-align: center;
  margin-bottom: .7em;
}

.timeline-header {
  background-color: $dependable;
  color: $deep-sea;
}

.timeline-header__title {
  margin-bottom: .2em;
}

.timeline-header__subtitle {
  font-weight: 300;
}

//////////////////////////////////////// Tabs

.timeline-tabs {
  padding: 20px 0;
}

.timeline-tabs__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-tabs__dot {
  margin: 10px 24px;
  line-height: 50px;
  text-align: center;
  font-size: 0.8em;
}

//////////////////////////////////////// Timeline Background

.timeline-line {
  position: relative;
  border-top: 2px solid $drab;
}

.timeline-line__background {
  position: absolute;
  top: 0;
  bottom: 0;
}

.timeline-line__background {
  display: flex;
}

.timeline-line__background-left {
  flex: 1 1 50%;
  box-sizing: border-box;
  border-right: 40px solid $youll;
}

.timeline-line__background-right {
  flex: 1 1 50%;
  box-sizing: border-box;
  border-left: 40px solid $youll;
}

//////////////////////////////////////// Timeline Rows and Structure

.timeline-line__row-header,
.timeline-line__row {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;

  &.is-left {
    justify-content: flex-start;
    text-align: left;

    .info_box {
      float: left;
    }

    .timeline-line__date {
      padding-right: 8px;
    }
  }

  &.is-right {
    justify-content: flex-end;
    text-align: right;

    .info_box {
      float: right;
    }

    .timeline-line__row-subtitle {
      margin-left: 50%;
    }

    .timeline-line__date {
      padding-left: 8px;
    }

  }
}

.timeline-line__before-header,
.timeline-line__during-header,
.timeline-line__after-header {
  font-size: 1.6em;
  padding: 10px 20px 10px 30px;
  margin: 20px 20px 20px 0;
  background-color: $drab;
  color: #fff;
}

.timeline-line__during-header,
.timeline-line__after-header {
  padding: 10px 30px 10px 20px;
  margin: 20px 0 20px 20px;
}


.timeline-line__row {
  color: $deep-sea;
  min-height: 144px;
}

.timeline-line__row-block {
  padding: 10px 20px 10px 30px;
  margin: 20px 20px 20px 0;
  width: 100%;
}

.timeline-line__row-title,
.timeline-line__row-subtitle,
.timeline-line__row-body {
  display: block;
}

.timeline-line__row-title {
  margin-bottom: 0;
}

.timeline-line__row-subtitle {
  max-width: 50%;
  padding: 5px 0 13px;
  display: flex;

  .timeline-line__date {
    flex: 0 0 auto;
    color: $dependable;
    margin: -.2em 0 .2em;
    font-weight: 700;
  }

  .timeline-line__line {
    flex: 1 1 auto;
    margin-top: 4px;
    background-color: $youll;
    height: 5px;
  }
}

.timeline-line__row-body {
  display: inline-block;
  max-width: 42%;
  margin-top: 0;
  font-weight: 400;
}
.timeline-line__row-info {
  margin-top: 0;
  font-weight: 400;
  font-size: .9em;

  .info_button {
    cursor: pointer;
    margin-bottom: 6px;

    i {
      margin-right: 6px;
    }

    &:hover {

    }
  }

  .info_box {
    display: none;
    width: 90%;
    border-radius: 3px;
    border: $border;
    background-color: $whitish;
    padding: 12px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

    .info_box_contents {
      opacity: 0;
      width: 100%;
      font-size: .9em;
      text-align: left;

      ul, ol {
        padding-left: 12px;
        margin-top: 0px;
        margin-bottom: 0px;

        li {
          padding-bottom: 6px;
          /*height: 18px;*/
        }
        &.plain {
          list-style-type: none;
        }
        &.checkbox {
          list-style-type: none;

          input {
            line-height: 18px;
            margin-right: 8px;
          }
        }
      }


    }


  }


}
